@model IEnumerable<OlineShopWebApplication.Order>

@{
    ViewData["Title"] = "Замовлення";
}

<h1>Замовлення</h1>

<p>
    <a asp-action="Create">Створити нове замовлення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">ProductDetails</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

            $.get('/api/Chart/JsonDataOrders', function(JsonDataOrders) {
                data = google.visualization.arrayToDataTable(JsonDataOrders, false);
                var option = {
                    title: "Співвідношення кількості замовлень і продуктів",
                    width: 500,
                    height: 400
  };
                chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}